<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @title%></title>
  <meta charset="utf-8" />
</head>
<body>
	<h1>Users and Interests</h1>
	<div class="content-area">
		<%= yield%>
	</div>
	<p id="statement"></p>
</body>
</html>