<!DOCTYPE html>
<html lang="en">
<head>
  <title>DynaDir</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>
<body>
	<main>
		<section>
			<h1>Entries</h1>
			<p>Lorem Ipsum</p>
			<p>Lorem Ipsum</p>
			<p>Lorem Ipsum</p>
			<% @public_entries.each do |entry| %>
      <P><a href="@entry"><%=@entry%></a></p>
      <% end %>
		</section>
	</main>
</body>
</html>