<!DOCTYPE html>
<html lang="en">
<head>
  <title>DynaDir</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>
<body>
	<main>
		<section>
			<h1>Dynamic Directory</h1>
			<p>Lorem Ipsum</p>
			<p>Lorem Ipsum</p>
			<p>Lorem Ipsum</p>
      <% @public_entries.each do |entry| %>
        <p><a href=<%=entry%>><%=entry%></a></p>
      <% end %>
      <div class="sort">
        <h2>Change Sort Order</h2>
        <a href="/">A-Z</a>
        <a href="/?sort=reverse">Z-A</a>
      </div>

		</section>
	</main>
</body>
</html>